{% block styles %}
    {% include('header_regapply.html.twig') %}
{% endblock %}

     {% block header %}
         {% include('nav.html.twig') %}
     {% endblock %}

<div class="page-content">

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="page-title">
                    <h2 class="title">
                        Новая заявка на регистрацию БВС
{#                        {{ aircraftId }}#}
                    </h2>
                </div>
            </div>
        </div>
    </div>


    <div class="page-body">
        <div class="container">
            <div class="row">
                <div class="card card-">
                    <form action="/" class="form-uav" id="uav-reg-add">
                    <div class="card-header">
                            Заполните
{#                        {{ dump(registrationTypes) }}#}
                    </div>
                    <div class="card-body">
                        <div class="col-6 offset-3">

                            <div class="form-row">
                                <div class="form-input">
                                    <label class="input-label" for="registrationType">Тип заявки</label>
                                    <select class="form-select" aria-label="registrationType"
                                            id="registrationType" name="registrationType">>
                                        {% for type in registrationTypes %}
                                            <option value="{{ type.label }}">{{ type.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                                <div class="form-row">
                                    <div class="form-input">
                                        <label class="input-label" for="comment">Комментарий</label>
                                        <input type="text" class="form-control" id="comment"
                                               name="comment"
                                               placeholder="">
                                    </div>
                                </div>
                                <input type="hidden" id="aircraftId" name="aircraftId" value="{{ aircraftId }}">

                        </div>
                    </div>
                    <div class="card-footer">
                            <button type="submit" class="btn btn-green">Создать</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    {% block footer %}
    {% include('footer.html.twig') %}
{% endblock %}