     {% block styles %}
            {% include('header.html.twig') %}
     {% endblock %}

     {% block header %}
            {% include('nav.html.twig') %}
     {% endblock %}


        <div class="page-content"> 

            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="page-title">
                            <h2 class="title">
                                Мои БВС
                            </h2>
                            <button class="btn btn-green" data-bs-toggle="modal" data-bs-target="#modalUav">Добавить БВС</button>
                        </div> 
                    </div>
                </div>
            </div>
            

        <div class="page-body">
            <div class="container">
                <div class="row">
                    <div class="card">
                        <div class="card-header">
                                 <div class="form-input">
                                   <input placeholder="Поиск" type="text" id="firstname" class="form-control">
                                  </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-centered mb-0">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Название БВС</th>
                                            <th>Регистрационный номер</th>
                                            <th>Серийный номер</th>
                                            <th>Категория БВС, кг</th>
                                            <th>Статус регистрации</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for aircraft in aircrafts.aircrafts %}
                                        {% if aircraft.registrationStatus.name is defined and aircraft.registrationStatus.name is not empty %}
                                            {% set registrationName = aircraft.registrationStatus.name %}
                                        {% else %}
                                            {% set registrationName = 'Unknown' %}
                                        {% endif %}
                                        <tr>
                                            <td>
                                                <img src="/assets/images/icon__drone.svg" alt="aircraft icon" title="{{ aircraft.id }}">
                                            </td>
                                            <td>{{ aircraft.type }}</td>
                                            <td>{{ aircraft.registrationNumber }}</td>
                                            <td>{{ aircraft.serialNumber }}</td>
                                            <td>{{ aircraft.category.name }}</td>
                                            <td>
                                                <span class="badge badge-danger">{{ registrationName }}</span>
                                            </td>
                                            <td>
                                                <a href="/" class="btn btn-outline" id="btn-edit">редактировать</a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">

                            <ul class="pagination">
{#                                {{ dump(aircrafts.currentPage) }}#}
{#                                {{ dump(aircrafts.pagesQty) }}#}

                                {% if aircrafts.currentPage == 1 %}
                                    {% set pagePrevious = "#" %}
                                     {% set ariaDisabledFirst = "true" %}
                                     {% set liDisabledFirst = " disabled" %}
                                {% else %}
                                    {% set pagePrevious = "/uav/" ~ (aircrafts.currentPage - 1)  %}
                                    {% set ariaDisabledFirst = "false" %}
                                    {% set liDisabledFirst = "" %}
                                {% endif %}

                                {% if aircrafts.currentPage == aircrafts.pagesQty %}
                                    {% set pageNext = "#" %}
                                    {% set ariaDisabledLast = "true" %}
                                    {% set liDisabledLast = " disabled" %}
                                {% else %}
                                    {% set pageNext = "/uav/" ~ (aircrafts.currentPage + 1)  %}
                                    {% set ariaDisabledLast = "false" %}
                                    {% set liDisabledLast = "" %}
                                {% endif %}


                                <li class="page-item{{ liDisabledFirst }}">
                                    <a class="page-link" href="{{ pagePrevious }}" aria-disabled="{{ ariaDisabledFirst }}">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% for i in 1..aircrafts.pagesQty %}
                                    {% if aircrafts.currentPage == i %}
                                        <li class="page-item disabled"><a class="page-link" href="#">{{ i }}</a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="/uav/{{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                <li class="page-item{{ liDisabledLast }}">
                                    <a class="page-link" href="{{ pageNext }}" aria-disabled="{{ liDisabledLast }}">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% block modals %}
            {% include('components/modals.html.twig') %}
    {% endblock %}    


    {% block footer %}
            {% include('footer.html.twig') %}
    {% endblock %}