        <!-- Button trigger modal -->
        <button type="button" class="btn btn-light btn-small timeSettings" data-bs-toggle="modal"
                data-bs-target="#settingsModal">
            <i class="fa fa-cog" aria-hidden="true"></i>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered col-6">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="settingsModalLabel">Настройки времени</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-3">
                            <div class="input-group">
                                <label for="date_start" class="col-form-label col-4">Начало диапазона&nbsp;</label>
{#                                <div class="input-group-text"><i class="fa fa-calendar-o" aria-hidden="true"></i></div>#}
                                <input type="date" class="form-control" id="date_start" value="{{ 'now'|date('Y-m-d') }}">
{#                                <div class="input-group-text"><i class="fa fa-clock-o" aria-hidden="true"></i></div>#}
                                <input type="time" class="form-control" id="time_start" value="{{ 'now'|date('H:i') }}">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="input-group">
                                <label for="date_choose" class="col-form-label col-4">Выбранная точка&nbsp;</label>
{#                                <div class="input-group-text"><i class="fa fa-calendar-o" aria-hidden="true"></i></div>#}
                                <input type="date" class="form-control" id="date_choose" value="{{ 'now'|date('Y-m-d') }}">
{#                                <div class="input-group-text"><i class="fa fa-clock-o" aria-hidden="true"></i></div>#}
                                <input type="time" class="form-control" id="time_choose" value="{{ 'now'|date('H:i') }}">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="input-group">
                                <label for="date_finish" class="col-form-label col-4">Конец диапазона&nbsp;</label>
{#                                <div class="input-group-text"><i class="fa fa-calendar-o" aria-hidden="true"></i></div>#}
                                <input type="date" class="form-control" id="date_finish" value="{{ 'now'|date_modify("+1 day")|date('Y-m-d') }}">
{#                                <div class="input-group-text"><i class="fa fa-clock-o" aria-hidden="true"></i></div>#}
                                <input type="time" class="form-control" id="time_finish" value="{{ 'now'|date('H:i') }}">
                            </div>
                        </div>
                    </div>
                </div>
                {# <div class="modal-footer"> #}
                {# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> #}
                {# <button type="button" class="btn btn-primary">Save changes</button> #}
                {# </div> #}
            </div>
        </div>

