<div class="modal fade" id="modalEngineComplect_{{ aircraftData.aircraft.id }}" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Двигатели БВС</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container">
                <form action="/" class="form-engine" data-aircraft-id="{{ aircraftData.aircraft.id }}">
                {% for engineType in aircraftData.aircraft.engineTypes %}
                    {% set fieldId = "engine_aircraft_" ~ aircraftData.aircraft.id ~ "_type_" ~ engineType.id %}
                    <div class="row">
                        <div class="col-6 offset-2">
                            <label for="{{ fieldId }}" class="col-form-label">{{ engineType.name }}</label>
                        </div>
                        <div class="col-2">
                            <input type="number" id="{{ fieldId }}" class="form-control engines_number aircraft_engine_{{ aircraftData.aircraft.id }}"
                                   data-aircraft-id="{{ aircraftData.aircraft.id }}"
                                   data-enginetype-id="{{ engineType.id }}"
                                   data-enginecomplect-id="{{ engineType.complectId }}"
                                   value="{{ engineType.number }}">
                        </div>
{#                        <div class="col-4 offset-3">{{ engineType.name }}</div>#}
{#                        <div class="col-2">{{ engineType.number }}</div>#}
{#                        <div class="col-1">#}
{#                            <button class="btn btn-small btn-outline btn-aircraft-edit"#}
{#                                    id="btn-engine_delete_{{ engineType.id }}"><i class="fa fa-trash"#}
{#                                                                                  aria-hidden="true"></i>#}
{#                            </button>#}
{#                        </div>#}
                    </div>
                {% endfor %}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-green">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

