<!-- Modal UAV -->
<div class="modal fade" id="modalUav" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Добавление БВС</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form action="/" class="form-uav" id="form-uav">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">1</div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">2</div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">3</div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-row">
                                    <div class="form-input">
                                        <label class="input-label" for="type">Наименование (тип)</label>
                                        <input type="text" class="form-control" id="type" name="type"
                                               placeholder="Беспилотник">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-row">
                                    <div class="form-input">
                                        <label class="input-label" for="manufacturer">Изготовитель БВС *</label>
                                        <input type="text" class="form-control" id="manufacturer" name="manufacturer"
                                               placeholder="Cобственная сборка">
                                        {# <p class="form-desc">Для самостоятельно собранных БВС, указывается «собственная сборка»</p> #}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-row">
                                    <div class="form-input">
                                        <label class="input-label" for="serialNumber">Серийный номер *</label>
                                        <input type="text" class="form-control" id="serialNumber" name="serialNumber">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-row">
                                    <div class="form-input">
                                        <label class="input-label" for="registrationNumber">Регистрационный номер
                                            *</label>
                                        <input type="text" class="form-control" id="registrationNumber"
                                               name="registrationNumber">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <h6 class="form-title">
                                Двигатели
                            </h6>

                            <div class="col-md-6">
                                <div class="form-row">
                                    <div class="form-input">
                                        <label class="input-label" for="categoryUav">Количество двигателей</label>
                                        <input type="number" class="form-control" id="numberOfEngines"
                                               name="numberOfEngines" placeholder="4">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-row">
                                    <div class="form-input">
                                        <label class="input-label" for="categoryUav">Тип двигателя</label>
                                        <select class="form-select" aria-label="Выберите тип">
                                            {% for engine in engine %}
                                                <option value="{{ engine.id }}">{{ engine.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-row">
                                    <div class="form-input">
                                        <label class="input-label" for="categoryUav">Тип двигателя</label>
                                        <select class="form-select" aria-label="Выберите тип">
                                            {% for category in category %}
                                                <option value="{{ category.id }}">{{ category.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-row">
                                    <div class="form-input">
                                        <label class="input-label" for="takeoffMass">Макс. взлетная масса,
                                            кг</label>
                                        <input type="text" class="form-control" id="takeoffMass" name="takeoffMass">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-row form-column">
                                    <div class="form-input">
                                        <label class="input-label" for="maxWeight">Категория БВС (Масса)</label>
                                    </div>

                                    {% for mass in mass %}
                                        <div class="label_invisible mass_category_label mt-2"
                                             data-mass-id="{{ mass.id }}" data-mass-min="{{ mass.massMin }}"
                                             data-mass-max="{{ mass.massMax }}" id="labelMass{{ mass.id }}">
                                            {{ mass.name }}
                                        </div>
                                    {% endfor %}
                                    <input type="hidden" name="mass" id="mass" value="">
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-row form-column">
                                    <div class="form-input">
                                    <label class="input-label" for="categoryUav">Тип каналов связи/управления</label>
                                    </div>
                                    {% for channelKey, channelName in aircrafts.loadChannels %}
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox"
                                                   id="channel_{{ channelKey }}" name="channels">
                                            <label class="form-check-label"
                                                   for="channel_{{ channelKey }}">{{ channelName }}</label>
                                        </div>
                                    {% endfor %}


                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-row form-column">
                                    <div class="form-input">
                                        <label class="input-label" for="categoryUav">Транспондер</label>
                                    </div>


                                    <div class="form-check-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="250"
                                                   id="categoryUav250" name="categoryUav">
                                            <label class="form-check-label" for="flexCheckIndeterminate">
                                                ADS-B (out, in/out)
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="250-30"
                                                   id="categoryUav250-30" name="categoryUav">
                                            <label class="form-check-label" for="flexCheckIndeterminate">
                                                Режим S
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="30+"
                                                   id="categoryUav30+" name="categoryUav">
                                            <label class="form-check-label" for="flexCheckIndeterminate">
                                                трекер ABR
                                            </label>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <h6 class="form-title">
                                Сведения о регистрации
                            </h6>
                            <div class="col-md-4">
                                <div class="form-row">
                                    <div class="form-input">
                                        <label class="input-label" for="statusRegister">Статус регистрации *</label>

                                        <select class="form-select" aria-label="statusRegister">
                                            {% for status in statuses %}
                                                <option value="{{ status.id }}">{{ status.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-row">
                                    <div class="form-input">
                                        <label class="input-label" for="categoryUav">Регистрационный номер *</label>
                                        <input type="text" class="form-control" id="maxWeight" name="maxWeight">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-row">
                                    <div class="form-input">
                                        <span class="input-label">Загрузить уведомление</span>
                                        <input type="file" name="file" id="uavNotice" class="uploadfile"/>
                                        <label for="uavNotice" class="uploadfile-notice-text">Выберите файл</label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-row">
                                    <div class="form-input">
                                        <span class="input-label">Технический паспорт</span>
                                        <input type="file" name="file" id="uavPassport" class="uploadfile"/>
                                        <label for="uavPassport" class="uploadfile-passport-text">Выберите файл</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-row">
                                    <div class="form-input">
                                        <span class="input-label">Фото БВС</span>
                                        <input type="file" name="file" id="uavPhoto" class="uploadfile"/>
                                        <label for="uavPhoto" class="uploadfile-photo-text">Выберите файл</label>
                                    </div>
                                </div>
                            </div>


                        </div>
                </form>


            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" data-bs-dismiss="modal">Отмена</button>
            <button type="button" class="btn btn-green">Сохранить</button>
        </div>
    </div>
</div>
</div>
